name: test

on:
    pull_request:
    push:
        branches:
            - main
            - dev

jobs:
    test:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2

            - uses: actions/setup-node@v1
              with:
                  node-version: 16.x

            - uses: c-hive/gha-yarn-cache@v2

            - run: yarn --immutable
            - run: yarn test:prod

            - uses: coverallsapp/github-action@master
              with:
                  github-token: ${{ secrets.GITHUB_TOKEN }}
